body {    
    font-size: 11px;
}

#id-contenido, #id-recomendaciones {
    max-width: 100%;
    background-color: red;
}

@media screen and (min-width:600px) {
    body {
        font-size: 12px;        
    }
    #id-contenido {
        max-width: 60%;
        background-color: green;
    }
    #id-recomendaciones {
        max-width: 30%;
        background-color: blue;
    }
}
 @media (min-width: 800px) {
    body {
        font-size: 14px;  
    }
    #id-contenido {
        max-width: 80%;
        background-color: violet;
    }
    #id-recomendaciones {
        max-width: 15%;
        background-color: yellow;
    }
}

